@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./static/images/noise.png");
  mix-blend-mode: color-burn;
  opacity: 0.3;
  pointer-events: none;
}

@layer base {
  :root {
    --turqoise: rgba(25, 225, 174, 1);
    --mint: rgba(152, 255, 152, 1);
    --current-day: rgba(235, 194, 47, 1);
    --flat-orange: rgba(255, 107, 107, 1);
    --board-bg: rgba(96, 111, 238, 1);
    --violet: rgba(224, 152, 246, 1);
    --test: #84dcc6;
  }
}

.dark {
  --text-color: rgba(255, 255, 255, 1);
  --thm-gradient: linear-gradient(
    90deg,
    hsla(270, 94%, 25%, 1) 0%,
    hsla(158, 94%, 49%, 1) 100%
  );
  --selected-range: rgba(74, 20, 140, 1);
  --accent-text-color: rgba(74, 20, 140, 1);
}

.light {
  --text-color: rgba(0, 0, 0, 1);
  --thm-gradient: linear-gradient(
    90deg,
    hsla(184, 82%, 51%, 1) 0%,
    hsla(275, 77%, 70%, 1) 50%,
    hsla(351, 88%, 62%, 1) 100%
  );
  --selected-range: rgba(0, 209, 255, 1);
  --accent-text-color: rgba(0, 209, 255, 1);
}

.calendar .date-column:nth-child(7n) .date {
  border-radius: 30px;
}

.calendar .date-column:nth-child(7n) .date.date.date_in_range:after {
  border-radius: 0 30px 30px 0 !important;
  width: 100%;
  overflow: hidden;
}

.calendar .date-column:nth-child(7n + 1) .date {
  border-radius: 30px;
}

.calendar .date-column:nth-child(7n + 1) .date.date.date_in_range:after {
  border-radius: 30px 0 0 30px;
}

.date {
  z-index: 5;
}

.date:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
}

.date.date_in_range:after {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 135%;
  height: 100%;
  left: 0;
  z-index: -1;
  background: var(--selected-range);
  border-left: 0;
  border-right: 0;
}

.date.date_in_range.start_range:after {
  border-radius: 30px 0 0 30px;
  border-right: 0;
}

.date.date_in_range.end_range {
  border: none;
  border-radius: 0px 30px 30px 0px !important;
  background: transparent;
}

.date.date_in_range.end_range:after {
  border-radius: 0px 30px 30px 0px;
  border-left: 0;
}

.date.date_in_range.start_range.end_range {
  border-radius: 30px !important;
}

.date.date_in_range.current_day {
  background: transparent;
}

/* REVERTED */

.date-column.reverted .date.date_in_range:after {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 95px;
  height: 100%;
  left: 0;
  z-index: -1;
  background: var(--flat-orange);
  opacity: 0.3;
}

.date-column.reverted .date.date_in_range.start_range:after {
  width: 100%;
  border-left: 0;
  border-radius: 0 30px 30px 0;
  border-left: none;
}

.date-column.reverted .date.date_in_range.end_range {
  overflow: unset;
  background-color: transparent;
}

.date-column.reverted .date.date_in_range.end_range:after {
  width: 95px;
  border-right: 0;
  border-radius: 30px 0 0 30px;
}

.date.date_in_range.end_range.is_selected.start_range {
  border-radius: 30px;
}

.holliday__text,
.eventslist__text {
  position: sticky;
  top: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  background: transparent;
  backdrop-filter: blur(5px);
  border-radius: 0 0 0.5rem 0.5rem;
}

.date.is__selected {
  border-radius: 30px !important;
}

.tooltip.left:after,
.tooltip.right:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 8px 9px 8px;
  border-color: transparent transparent #000 transparent;
  transform: rotate(180deg);
  position: absolute;
  left: 20px;
  bottom: -9px;
}

.tooltip.left:after {
  left: unset;
  right: 20px;
}
